$accent-color: var(--accent-color);

$clickgui-base-color: var(--base-color);
$clickgui-text-color: var(--text-color);
$clickgui-text-dimmed-color: var(--text-dimmed-color);

$tabgui-base-color: var(--base-color);
$tabgui-text-color: var(--text-color);
$tabgui-text-dimmed-color: var(--text-dimmed-color);

$arraylist-base-color: var(--base-color);
$arraylist-text-color: var(--text-color);

$targethud-base-color: var(--base-color);
$targethud-text-color: var(--text-color);
$targethud-text-dimmed-color: var(--text-dimmed-color);

$hotbar-base-color: var(--base-color);
$hotbar-text-color: var(--text-color);
/* TODO: currently unused */
$hotbar-experience-color: #88c657;
$hotbar-health-color: #fc4130;
$hotbar-hunger-color: #b88458;

$menu-account-premium-color: #67d24a;
$menu-base-color: var(--base-color);
$menu-text-color: var(--text-color);
$menu-text-dimmed-color: var(--text-dimmed-color);
$menu-error-color: #fc4130;

$scoreboard-base-color: var(--base-color);

$keystrokes-base-color: var(--base-color);
$keystrokes-text-color: var(--text-color);
